<!DOCTYPE html>
{% load static %}


<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CALL</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
  </head>
  <body>

<div class="introduction">
  <h1>PartyFree</h1>
  <p>PartyFree is an app that allows you to set a timer and receive a "Drunk Voice" call. </p>
  <br>
  <br>
</div>


<div class="row padding">
<div class="container col-lg-5">
    <form class="django-form" method="post">
      <div class="form">
        {% csrf_token %}
        {{form.userPhoneNo}}
        <label for="name" class="label-name">
          <span class="content-name">Your Phone Number </span>
        </label>
      </div>
    <br>
      <div class="form">
        {% csrf_token %}
        {{form.v_userPhoneNo}}
        <label for="name" class="label-name">
          <span class="content-name">Verify </span>
        </label>
      </div>
    <br>
      <div class="form">
        {% csrf_token %}
        {{form.waitTime}}
        <label for="name" class="label-name">
          <span class="content-name">Wait Time</span>
        </label>
      </div>
      <br>
      <input type="submit" class="btn btn-secondary" name="" value="Submit">
    </form>
    <br>
</div>
<div class="container col-lg-7">
  <ol>
    <li>Enter your phone number.</li>
    <br>
    <br>
    <br>
    <li>Confirm your phone number.</li>
    <br>
    <br>
    <br>
    <li>Enter how long you want to receive the call.</li>
    <br>
    <br>
    <br>
  </ol>
</div>
</div>

<a class="navbar-brand" href="{% url 'index' %}"> <img class="navbar-icon" src="{% static "images/run.png" %}"> </a>


    <!-- Latest compiled and minified jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
