html, body {
    height:100%;
}

.container {
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
  background-color: white;
}


body{
      background-color: white;
      background-image : url("/static/images/sleep_in_the_car.jpg");
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: left top;
      }
