{%extends 'base.html'%}
{% load static %}

{%block content%}
<link rel="stylesheet" href="{% static "css/about_me.css" %}">
<div class="container-fluid">
  <div class="row padding">
    <div class="col-md-6 col-lg-6">
      <h1>About Me</h1>
      <h3 class="lead">
        Hi there! I am currently seeking a summer/fall 2020 software engineering or backend developer internship.
        As I proactive person, I have been actively learning new skills such as
        Python, Django, HTML, CSS and many other technologies to make myself more competitive.
      <h3 class="lead">
        I truly believe in Elon Musk's perspective that "Ordinary people can choose to be extraordinary."
        I have a passion and a resilient mentality to accept all the challenges.
        Don't forget to visit my 'Party Free' app! It is my all-time favorite.
      </h3>
      <h3 class="lead">Thank you for your time! </h3>
      </h3>
        <br>
        <a href="https://www.linkedin.com/in/pakshing-kan/" class="btn btn-primary active" role="button" aria-pressed="true">LinkedIn</a>
    </div>
    <div class="col-md-6 col-lg-6 card_padding">
      <div class="card">
        <img class="card-img-top about-me-card" src="{% static "images/pak.jpg" %}">
        <div class="card-body">
          <h5 class="card-title text-center">Pak Shing Kan </h5>
        </div>
      </div>

    </div>
  </div>
</div>




{% endblock %}
